body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px;
}
#title {
  grid-column: span 2;
  text-align: center;
}
.meal,
.cocktail {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 10px;
}


.meal,
.cocktail {
  background-color: #f9f9f9; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.meal:hover,
.cocktail:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}

#meal-container,
#cocktail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }

  .meal,
  .cocktail {
    width: 80%; 
  }

  .meal img,
  .cocktail img {
    max-width: 200px;
  }
}